<% if film.doned_by?(current_user) %>
    <%= link_to film_done_path(film,current_user), method: :delete, remote: true do %>
      <button type="button" class="btn btn-xl btn-warning">
         観た! <br>
        <span class="badge badge-dark"><%= film.dones.count %></span>
      </button>
    <% end %>
<% else %>
    <%= link_to film_dones_path(film), method: :post, remote: true do %>
      <button type="button" class="btn btn-xl btn-outline-warning">
         観た! <br>
        <span class="badge badge-dark"><%= film.dones.count %></span>
      </button>
    <% end %>
<% end %>