Admin
<h1>Films#edit</h1>
<p>Find me in app/views/films/edit.html.erb</p>

<%= form_with model: @film, url: admin_films_path do |f| %>

    <%= f.text_field :title %>

    	<div>
    <%= f.submit "作成", class: 'btn btn-primary'%>
	</div>
  </div>
<% end %>